.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

web-api/bin/
web-api/obj/

ml-training/notebooks/.ipynb_checkpoints/

.DS_Store
Thumbs.db
/.streamlit/secrets.toml
streamlit-app/.streamlit/secrets.toml
streamlit-app/used_car_price_app.db
.env
.env.*